.DS_Store
node_modules/
ignore/
/dist/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
todos.txt

# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln

--- ROADMAP ---
v1.0.2
Hook up settings options.
Implement directional landing
v1.0.3
Information and credits page.
